<!-- Precisa ter esse load para arquivos estaticos, sem ele não funciona -->
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Fonte Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

    <!-- Estilizacao do home -->
    <link rel="stylesheet" href="{% static 'css/home_estilizacao.css' %}">

    <title>Cadastro de Produtos</title>

  </head>
  <body>
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Loja</span>
        <!-- Botão no canto superior direito -->
        <a href="{% url 'listagem_produtos' %}" class="btn btn-listagem top-right-button">Listagem Produtos</a>
      </div>
    </nav>
    
    <!-- Formulário centralizado -->
    <div class="form-container">
      <form action="{% url 'home' %}" method="post"> 
        <!--Precisa desse csrf_token se não, não da pra renderizar a pagina-->
          {% csrf_token %}
          <div class="container">
              <h2 class="text-center mb-4">Cadastro de Produtos</h2>
              <div class="mb-3 espacamento">
                <label for="nomeProduto" class="form-label">Nome</label>
                <input name="nome_produto" class="form-control" type="text" maxlength="100" required>
              </div>
              <div class="mb-3 espacamento">
                <label for="precoProduto" class="form-label">Preço</label>
                <input name="preco_produto" class="form-control" type="number" step="0.01" min="0" required>
              </div>
              <div class="mb-3 espacamento">
                <label for="qtdEstoque" class="form-label">Quantidade em Estoque</label>
                <input name="qtd_estoque" class="form-control" type="number" step="1" min="0" required>
              </div>
              <div class="text-center">
                <button type="submit" name="cadastrar_produto" class="btn btn-produto">Cadastrar Produto</button>
              </div>
          </div>
      </form> 
    </div>

    {% if message %}
        <div id="success-alert" class="alert alert-success mt-3 text-center" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      // Remover o alerta automaticamente após 3 segundos
      setTimeout(() => {
        const alert = document.getElementById('success-alert');
        if (alert) {
          alert.style.display = 'none';
        }
      }, 3000);
    </script>
  </body>
</html>
